/* --- Logo --- */

@import url('https://themes.googleusercontent.com/fonts/css?kit=Qx6FPcitRwTC_k88tLPc-UdBEiE9uD1gMwjC8j0e9UVOHzq4pOkkVVXAxa-PHMp_TxxFasp78LYLHii6Z8AzWrPkbmw9Z2nKh64fN9qFysw');

.logo {
	line-height: 1.15;
	text-align: center;
	color: #000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Bowlby One SC";
	font-style: normal;
	font-size: 2.35vw;
	text-shadow: 0px 2px #fecb01, 3px 3px #fecb01, 4px 4px #fecb01;
}

@media only screen and (max-width: 500px) {
   .logo {
		font-size: 8.35vw;
        text-shadow: 0px 1px #fecb01, 1px 1px #fecb01, 2px 2px #fecb01;
    }
}

/* ----------------------------------------------------- */

/* --- Neon animation --- */
@font-face {
	font-family: 'neontubes';
	src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
	src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.neon-container {
	display: inline-flex;
	font-family: "neontubes";
	font-size: 40px;
	text-align: center;
	white-space: nowrap;
	text-align: center;
}

.neon-container span {
	display: block;
	-webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
	will-change: opacity;
}

.neon-container .title {
	color: #ffd9e2;
	text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
	-webkit-animation: blink 4s infinite alternate;
		  animation: blink 4s infinite alternate;
}
.neon-container .subTitle {
	font-size: 30px;
	color: #d4eaff;
	text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
	-webkit-animation: buzz 0.01s infinite alternate;
		  animation: buzz 0.01s infinite alternate;
}
 
@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
 
@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}